<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="silentium.commons.utils.logging.ConsoleLogLayout"/>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/java.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>java_%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="silentium.commons.utils.logging.ConsoleLogLayout"/>
        </encoder>
    </appender>

    <appender name="AUTH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="silentium.authserver.utils.logging.AuthFilter"/>

        <file>log/auth.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>auth_%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="silentium.commons.utils.logging.ConsoleLogLayout"/>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="AUTH"/>
    </root>

</configuration>